.productsList {
  display: flex;
  flex-direction: column;
  margin: 20px;

  table {
    text-align: center;
    background-color: white;
    border-collapse: collapse;
    border: 4px solid var(--second-color);
  }

  td {
    padding: 12px;
    color: var(--second-color);
    cursor: pointer;
  }

  th {
    width: 100px;
    background-color: var(--second-color);
    padding-top: 9px;
    padding-bottom: 9px;
    color: var(--text-color);
  }

  tr {
    border: 1px solid var(--text-color);
  }

  h1 {
    color: var(--second-color);
  }

  .add_product {
    text-decoration: none;
    display: flex;
    justify-content: end;
  }

  .link {
    text-decoration: none;
    color: var(--second-color);
  }

  .add_product_link {
    text-decoration: none;
    background-color: var(--second-color);
    color: white;
    padding: 6px;
    margin: 4px;
    border: 1px solid;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
  }

  .add_product_link:hover {
    background-color: var(--third-color);
    padding: 8px;
  }
}
