.productsToImportList {
  display: flex;
  flex-direction: column;
  margin: 20px;
  table {
    text-align: center;
    background-color: white;
    border-collapse: collapse;
    border: 4px solid var(--second-color);
  }

  td {
    color: var(--second-color);
    padding: 12px;
  }

  th {
    width: 100px;
    background-color: var(--second-color);
    padding-top: 9px;
    padding-bottom: 9px;
    color: var(--text-color);
  }

  tr {
    border: 2px solid var(--text-color);
  }

  h1 {
    color: var(--second-color);
  }

  .add_import {
    text-decoration: none;
    display: flex;
    justify-content: end;
  }

  .link {
    text-decoration: none;
    color: var(--second-color);
  }

  .finish_link {
    text-decoration: none;
    background-color: var(--second-color);
    color: white;
    padding: 6px;
    margin: 4px;
    border: 1px solid;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
  }

  .finish_link:hover {
    background-color: var(--third-color);
    padding: 8px;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    color: var(--text-color);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 25px;
  }

  .actions button {
    font-weight: 700;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    color: white;
    border: none;
    transition-duration: 0.2s;
    font-size: 18px;
    background-color: var(--second-color);
  }

  .actions button {
    color: white;
    background-color: var(--second-color);
    margin: 4px;
  }

  .actions button:hover {
    color: white;
    background-color: var(--third-color);
  }

}
