.RolesPermissions{

    overflow-y: auto;
    overflow-x: hidden;
    width: calc(100vw - 250px);
    height: calc(100vh - 70px);

    h1{
        color: var(--second-color);
        margin: 20px;
    }
}